<.header>
  Link Stats
  <:actions>
    <.link href={~p"/stats/csv"} download="link_stats">
      <.button>Download CSV</.button>
    </.link>
  </:actions>
</.header>

<.table id="link-stats" rows={@links}>
  <:col :let={link} label="Slug">
    <.link_for_slug conn={@conn} slug={link.slug} />
  </:col>
  <:col :let={link} label="Destination">
    <.link href={link.destination}><%= link.destination %></.link>
  </:col>
  <:col :let={link} label="Visits"><%= link.visits %></:col>
</.table>